<div class="collection">
    <div class="collection_-image-wrapper">
        <img src="{{ collection.image | img_url: 'master' }} " alt="{{ collection.image.alt }}" class="collection__image">
    </div>

    <div class="collection__wrapper">
        <header class="collection__header">
            <h1 class="collection__heading">{{ collection.title }}</h1>
            <p class="collection__description">{{ collection.description }}</p>
        </header>
    </div>
    {% paginate collection.products by 8  %}
        <div class="collection__grid">
            {% for product in  collection.products %}
                {% render 'product-tile' with {
                        product: product
                } %}
            {% endfor %}
        </div>

        <div class="collection__pagination">
            {% for part in paginate.parts %}
                {% if part.is_link %}
                    {{ part.title | link_to: part.url}}
                {% else %}  
                <span>{{ part.title }}</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endpaginate %}
</div>