<div class="product">
    <section class="product__main">
       
            <div class="product__images">
                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" class="product__image">
            </div>
        <div class="product__content-wrapper">
            <div class="product__details">
                <div class="product__info">
                    <h1 class="product__title">{{ product.title }}</h1>
                    <div class="product__description"> {{ product.description }}</div>
                </div>
            </div>
    

        {% comment %}

            PRODUCT FORM

        {% endcomment %}

        {% form 'product', product %}
            <div class="product__variants">
                <label for="product-form-size" class="product__size">Size</label>
                <select id="product-form-size" name="id" class="size-options">
                    {% for variant in product.variants %}
                        <option value="{{ variant.id }}">{{ variant.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="cart__button"> Add to Cart </button>
            </div>
            
           
            
        {% endform %}
    </div>
    </section>
</div>